<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>locality_id</key>
		<integer>1</integer>
		<key>locality_desc</key>
		<string>Abbigere</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.076271</string>
		<key>long</key>
		<string>77.525568</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>2</integer>
		<key>locality_desc</key>
		<string>AECS Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.962935</string>
		<key>long</key>
		<string>77.712300</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>3</integer>
		<key>locality_desc</key>
		<string>Airport Area</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.950929</string>
		<key>long</key>
		<string>77.667929</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>5</integer>
		<key>locality_desc</key>
		<string>Akshaya Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.017294</string>
		<key>long</key>
		<string>77.681529</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>7</integer>
		<key>locality_desc</key>
		<string>Anjanapura</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string></string>
		<key>long</key>
		<string></string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>7</integer>
		<key>locality_desc</key>
		<string>Arekere</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.886987</string>
		<key>long</key>
		<string>77.600624</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>9</integer>
		<key>locality_desc</key>
		<string>Bagalur</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.834724</string>
		<key>long</key>
		<string>77.869600</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>10</integer>
		<key>locality_desc</key>
		<string>Banashankari</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.937300</string>
		<key>long</key>
		<string>77.554300</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>11</integer>
		<key>locality_desc</key>
		<string>Banaswadi</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.015000</string>
		<key>long</key>
		<string>77.652000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>12</integer>
		<key>locality_desc</key>
		<string>Bannerghatta Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.895018</string>
		<key>long</key>
		<string>77.598336</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>14</integer>
		<key>locality_desc</key>
		<string>Basavanagudi</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.940000</string>
		<key>long</key>
		<string>77.570000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>17</integer>
		<key>locality_desc</key>
		<string>Bellandur</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.931288</string>
		<key>long</key>
		<string>77.670792</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>18</integer>
		<key>locality_desc</key>
		<string>Bellary Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.057161</string>
		<key>long</key>
		<string>77.593426</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>21</integer>
		<key>locality_desc</key>
		<string>Bommanahalli</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.898360</string>
		<key>long</key>
		<string>77.617947</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>22</integer>
		<key>locality_desc</key>
		<string>Bommasandra</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.820000</string>
		<key>long</key>
		<string>77.690000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>24</integer>
		<key>locality_desc</key>
		<string>BTM Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.920000</string>
		<key>long</key>
		<string>77.610000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>25</integer>
		<key>locality_desc</key>
		<string>C V Raman Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.984567</string>
		<key>long</key>
		<string>77.662203</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>26</integer>
		<key>locality_desc</key>
		<string>Central Silk Board</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.916374</string>
		<key>long</key>
		<string>77.621885</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>27</integer>
		<key>locality_desc</key>
		<string>Chamarajpet</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.955802</string>
		<key>long</key>
		<string>77.563375</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>33</integer>
		<key>locality_desc</key>
		<string>Cox Town</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.992604</string>
		<key>long</key>
		<string>77.623541</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>35</integer>
		<key>locality_desc</key>
		<string>Devanahalli</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.241715</string>
		<key>long</key>
		<string>77.713731</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>39</integer>
		<key>locality_desc</key>
		<string>Dollars Colony</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.041526</string>
		<key>long</key>
		<string>77.568390</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>40</integer>
		<key>locality_desc</key>
		<string>Domlur</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.960986</string>
		<key>long</key>
		<string>77.638732</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>41</integer>
		<key>locality_desc</key>
		<string>Electronic City</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.839939</string>
		<key>long</key>
		<string>77.677003</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>42</integer>
		<key>locality_desc</key>
		<string>Fraser Town</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.997150</string>
		<key>long</key>
		<string>77.614256</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>43</integer>
		<key>locality_desc</key>
		<string>G M Palya</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.975072</string>
		<key>long</key>
		<string>77.665865</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>48</integer>
		<key>locality_desc</key>
		<string>Hebbal</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.040000</string>
		<key>long</key>
		<string>77.590000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>57</integer>
		<key>locality_desc</key>
		<string>Hoskote</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.070000</string>
		<key>long</key>
		<string>77.800000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>61</integer>
		<key>locality_desc</key>
		<string>HSR Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.908136</string>
		<key>long</key>
		<string>77.647608</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>62</integer>
		<key>locality_desc</key>
		<string>Hulimavu</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.878900</string>
		<key>long</key>
		<string>77.608987</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>64</integer>
		<key>locality_desc</key>
		<string>Indira Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.971891</string>
		<key>long</key>
		<string>77.641154</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>66</integer>
		<key>locality_desc</key>
		<string>ISRO Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.898483</string>
		<key>long</key>
		<string>77.559064</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>67</integer>
		<key>locality_desc</key>
		<string>ITPL</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.987565</string>
		<key>long</key>
		<string>77.737128</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>70</integer>
		<key>locality_desc</key>
		<string>Jayanagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.930140</string>
		<key>long</key>
		<string>77.587732</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>71</integer>
		<key>locality_desc</key>
		<string>Jeevan Bima Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.963303</string>
		<key>long</key>
		<string>77.660771</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>72</integer>
		<key>locality_desc</key>
		<string>Jigani Industrial Area</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.819913</string>
		<key>long</key>
		<string>77.688687</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>73</integer>
		<key>locality_desc</key>
		<string>JP Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.910491</string>
		<key>long</key>
		<string>77.585717</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>74</integer>
		<key>locality_desc</key>
		<string>Kaggadaspura</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.981278</string>
		<key>long</key>
		<string>77.680755</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>77</integer>
		<key>locality_desc</key>
		<string>Kanakapura Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.974247</string>
		<key>long</key>
		<string>77.595904</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>78</integer>
		<key>locality_desc</key>
		<string>Kasturi Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.005652</string>
		<key>long</key>
		<string>77.659535</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>79</integer>
		<key>locality_desc</key>
		<string>Kengeri</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.902304</string>
		<key>long</key>
		<string>77.478801</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>81</integer>
		<key>locality_desc</key>
		<string>Koramangala</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.927923</string>
		<key>long</key>
		<string>77.627108</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>82</integer>
		<key>locality_desc</key>
		<string>KR Puram</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.999784</string>
		<key>long</key>
		<string>77.683943</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>84</integer>
		<key>locality_desc</key>
		<string>Kumaraswamy Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.904100</string>
		<key>long</key>
		<string>77.561600</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>85</integer>
		<key>locality_desc</key>
		<string>Kundalahalli</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.959037</string>
		<key>long</key>
		<string>77.719454</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>86</integer>
		<key>locality_desc</key>
		<string>Lavelle Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.971182</string>
		<key>long</key>
		<string>77.597819</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>87</integer>
		<key>locality_desc</key>
		<string>Madiwala</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.920000</string>
		<key>long</key>
		<string>77.620000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>88</integer>
		<key>locality_desc</key>
		<string>Magadi Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.986856</string>
		<key>long</key>
		<string>77.476300</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>89</integer>
		<key>locality_desc</key>
		<string>Mahadevapura</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.990000</string>
		<key>long</key>
		<string>77.700000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>90</integer>
		<key>locality_desc</key>
		<string>Majestic</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.976664</string>
		<key>long</key>
		<string>77.571256</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>91</integer>
		<key>locality_desc</key>
		<string>Mallesh Palaya</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.975761</string>
		<key>long</key>
		<string>77.670873</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>92</integer>
		<key>locality_desc</key>
		<string>Malleshwaram</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.999606</string>
		<key>long</key>
		<string>77.568938</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>94</integer>
		<key>locality_desc</key>
		<string>Marathahalli</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.959172</string>
		<key>long</key>
		<string>77.697419</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>95</integer>
		<key>locality_desc</key>
		<string>Mathikere</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.028500</string>
		<key>long</key>
		<string>77.565000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>96</integer>
		<key>locality_desc</key>
		<string>MG Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.974650</string>
		<key>long</key>
		<string>77.609690</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>97</integer>
		<key>locality_desc</key>
		<string>Millers Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.995492</string>
		<key>long</key>
		<string>77.601541</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>98</integer>
		<key>locality_desc</key>
		<string>Mysore Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.121167</string>
		<key>long</key>
		<string>77.607880</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>101</integer>
		<key>locality_desc</key>
		<string>Nagawara</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.035004</string>
		<key>long</key>
		<string>77.623541</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>103</integer>
		<key>locality_desc</key>
		<string>Nandi Hills</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.370154</string>
		<key>long</key>
		<string>77.683455</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>104</integer>
		<key>locality_desc</key>
		<string>NelaMangala</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.087419</string>
		<key>long</key>
		<string>77.411006</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>105</integer>
		<key>locality_desc</key>
		<string>Old Airport Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.954866</string>
		<key>long</key>
		<string>77.685102</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>106</integer>
		<key>locality_desc</key>
		<string>Old Madras Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.985170</string>
		<key>long</key>
		<string>77.643693</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>107</integer>
		<key>locality_desc</key>
		<string>OMBR Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.007567</string>
		<key>long</key>
		<string>77.650466</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>108</integer>
		<key>locality_desc</key>
		<string>Outer Ring Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.027754</string>
		<key>long</key>
		<string>77.632431</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>109</integer>
		<key>locality_desc</key>
		<string>Padmanabhanagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.915500</string>
		<key>long</key>
		<string>77.558400</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>110</integer>
		<key>locality_desc</key>
		<string>Pai Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.881203</string>
		<key>long</key>
		<string>77.597760</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>111</integer>
		<key>locality_desc</key>
		<string>Palace Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.978800</string>
		<key>long</key>
		<string>77.584775</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>112</integer>
		<key>locality_desc</key>
		<string>Peenya</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.035339</string>
		<key>long</key>
		<string>77.528263</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>114</integer>
		<key>locality_desc</key>
		<string>Raj Bhavan</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.962754</string>
		<key>long</key>
		<string>77.605688</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>115</integer>
		<key>locality_desc</key>
		<string>Rajajinagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.991170</string>
		<key>long</key>
		<string>77.553216</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>117</integer>
		<key>locality_desc</key>
		<string>Rajarajeshwari Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.898456</string>
		<key>long</key>
		<string>77.522185</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>118</integer>
		<key>locality_desc</key>
		<string>Ramamurthy Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.015139</string>
		<key>long</key>
		<string>77.680813</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>119</integer>
		<key>locality_desc</key>
		<string>RBI Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.889522</string>
		<key>long</key>
		<string>77.579852</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>121</integer>
		<key>locality_desc</key>
		<string>Richards Town</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.006322</string>
		<key>long</key>
		<string>77.614948</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>122</integer>
		<key>locality_desc</key>
		<string>Richmond Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.966632</string>
		<key>long</key>
		<string>77.608704</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>124</integer>
		<key>locality_desc</key>
		<string>RT Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.022314</string>
		<key>long</key>
		<string>77.594895</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>128</integer>
		<key>locality_desc</key>
		<string>Sanjay Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.036464</string>
		<key>long</key>
		<string>77.576763</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>129</integer>
		<key>locality_desc</key>
		<string>Sarjapur</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.860000</string>
		<key>long</key>
		<string>77.786000</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>130</integer>
		<key>locality_desc</key>
		<string>Sarjapur Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.910524</string>
		<key>long</key>
		<string>77.684990</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>131</integer>
		<key>locality_desc</key>
		<string>Shanti Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.956947</string>
		<key>long</key>
		<string>77.599270</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>132</integer>
		<key>locality_desc</key>
		<string>Silkboard</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.917164</string>
		<key>long</key>
		<string>77.622692</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>134</integer>
		<key>locality_desc</key>
		<string>Thippasandra</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.870677</string>
		<key>long</key>
		<string>77.554777</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>136</integer>
		<key>locality_desc</key>
		<string>Tippasandra</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.870677</string>
		<key>long</key>
		<string>77.554777</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>137</integer>
		<key>locality_desc</key>
		<string>Tumkur Road</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.056846</string>
		<key>long</key>
		<string>77.473686</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>138</integer>
		<key>locality_desc</key>
		<string>Ulsoor</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.982644</string>
		<key>long</key>
		<string>77.622109</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>139</integer>
		<key>locality_desc</key>
		<string>Uttarahalli</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.905786</string>
		<key>long</key>
		<string>77.542639</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>140</integer>
		<key>locality_desc</key>
		<string>Vasanth Nagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.991087</string>
		<key>long</key>
		<string>77.592029</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>144</integer>
		<key>locality_desc</key>
		<string>Vijaya Bank Layout</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.890961</string>
		<key>long</key>
		<string>77.609935</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>145</integer>
		<key>locality_desc</key>
		<string>Vijayanagar</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.971916</string>
		<key>long</key>
		<string>77.529886</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>146</integer>
		<key>locality_desc</key>
		<string>Whitefield</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.969800</string>
		<key>long</key>
		<string>77.749947</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>147</integer>
		<key>locality_desc</key>
		<string>Wilson Garden</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>12.948981</string>
		<key>long</key>
		<string>77.597760</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>148</integer>
		<key>locality_desc</key>
		<string>Yelahanka</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.094454</string>
		<key>long</key>
		<string>77.586012</string>
	</dict>
	<dict>
		<key>locality_id</key>
		<integer>149</integer>
		<key>locality_desc</key>
		<string>Yeshwantpur</string>
		<key>city_id</key>
		<integer>1</integer>
		<key>lat</key>
		<string>13.027966</string>
		<key>long</key>
		<string>77.540916</string>
	</dict>
</array>
</plist>
